/*reset 样式*/

* {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  border: 0 !important
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal
}

li {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%
}

q:after,
q:before {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle
}

input {
  -webkit-appearance: none;
}

legend {
  color: #000
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body,
html {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Helvetica;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent
}

a,
a:link,
a:hover,
a:visited {
  text-decoration: none
}

a {
  color: #666;
}

.hide {
  display: none;
}

.fontS12 {
  font-size: 12px;
}

.fontS14 {
  font-size: 14px;
}

.fontS16 {
  font-size: 16px;
}

.fontS18 {
  font-size: 18px;
}

.tl {
  text-align: left;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.center {
  text-align: center;
}

.colorBlue {
  color: #1b80f1;
}

.color1c {
  color: #1c1c1c;
}

.color444 {
  color: #444;
}

.color666 {
  color: #666;
}

.colorWhite {
  color: #fff;
}

.fontBold {
  font-weight: bold;
}

.clear {
  clear: both;
}

.br0 {
  border-right: 0 !important;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*public css*/

/*普通老师*/

.content1 {
  width: 906px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.content1 #tab1 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.content1 #tab1 li {
  display: inline-block;
  font-size: 18px;
  color: #989898;
  line-height: 50px;
  cursor: pointer;
}

.content1 #tab1 li span {
  padding: 0 10px;
}

.content1 #tab1 li:first-child span {
  border-right: 1px solid #cccccc;
}

.content1 #tab1 li.current {
  color: #1c1c1c;
  border-bottom: 4px solid #1b80f1;
}

.content1 .content2 {
  position: relative;
  width: 885px;
  margin-left: 21px;
}

.dataAnalyze #tab2 {
  background-color: #e3edf8;
}

.dataAnalyze #tab2 li {
  display: inline-block;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 40px;
  border: 1px solid #e3edf8;
  cursor: pointer;
  padding: 0 10px;
}

.dataAnalyze #tab2 li.tab-cur {
  border: 1px solid #dddddd;
  border-bottom: 1px solid #fff;
  background-color: white;
}

.content2 .title1 {
  line-height: 76px;
  height: 76px;
  position: relative;
}

.content2 .title1 .line {
  margin-top: 50px;
  position: absolute;
  top: -12px;
  width: 72%;
  right: 115px;
  border: 1px solid #fff;
  border-top: 1px solid #e0e0e0;
}

.content2 .title1 i.icon-check {
  margin-right: 5px;
  color: #bbb;
}

.content2 .title1 a:hover,
.content2 .title1 a:hover i.icon-check {
  color: #1b80f1;
}

.content2 .chartsWidth1 {
  width: 100%;
}

.content2 .chartsWidth2 {
  width: 50%;
}

/*散点图*/

.createCourse .chartsWidth1#chartsScatter,
.createCourse .chartsWidth1#chartsScatter1 {
  height: 520px;
}

.listenCourse .chartsWidth1#chartsScatter2 {
  height: 520px;
  width: 885px;
}

/*雷达图*/

.createCourse .chartsWidth2#chartsRadar_ty,
.createCourse .chartsWidth2#chartsRadar_ts,
.createCourse .chartsWidth2#chartsRadar_zb,
.createCourse .chartsWidth2#chartsPie_roseType_kk,
.createCourse .chartsWidth2#chartsPie_roseType_tk {
  height: 520px;
}

/*环形图*/

.content2 .chartsWidth3 {
  width: 60%;
}

.createCourse .chartsWidth3#chartsPie1 {
  height: 520px;
  width: 531px;
}

.listenCourse .chartsWidth3#chartsPie2 {
  height: 520px;
  width: 531px;
}

.createCourse .chartsWidth2#chartsPie1 {
  height: 520px;
}

/*柱状图*/

.createCourse .chartsWidth2#chartsBar1 {
  height: 350px;
}

.createCourse .chartsWidth2#chartsBar2 {
  height: 200px;
}

.content2 .title2 {
  position: relative;
  background-color: #e3edf8;
  line-height: 40px;
}

.content2 .title2 .back {
  line-height: 40px;
  position: absolute;
  left: 10px;
}

.content2 .title2 .back span {
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 2px;
  padding: 4px 13px;
  box-sizing: border-box;
}

/*弹窗*/

.background {
  width: 100%;
  height: 100%;
  background: #fff;
  filter: alpha(opacity=0);
  opacity: 0;
  z-index: 9999;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.popData {
  position: fixed;
  top: 50%;
  left: 50%;
  display: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 9999;
  border: 1px solid #ddd;
}

.popData .close {
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 12px;
  font-size: 12px;
  text-decoration: none;
  z-index: 2;
}

.popData.popCreate1 {
  width: 691px;
  height: 515px;
  top: 300px;
  left: 300px;
}

.popData.popCreate2 {
  width: 738px;
  height: 515px;
  top: 300px;
  left: 300px;
}

.popData.popCreate3 {
  width: 535px;
  height: 161px;
  top: 300px;
  left: 300px;
}

.popData .title1 {
  font-size: 16px;
  color: rgb(27, 128, 241);
  font-weight: bold;
  text-align: center;
  line-height: 62px;
  height: 62px;
}

.popData .dataTable {
  width: 100%;
  height: 413px;
  position: relative;
  background-color: #f5f6f7;
}

.teacher_detail .popData .dataTable {
  height: 100px;
}

.popData .thead {
  background-color: #f5f6f7;
  width: 100%;
  font-size: 12px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  display: inline-table;
  float: left;
}

.popData .tbody {
  overflow: auto;
  max-height: 366px;
  position: absolute;
  width: 100%;
  top: 48px;
  background-color: white;
}

.popData .tbody::-webkit-scrollbar {
  width: 2px;
  background-color: #fff;
}

.popData .tbody::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a4a4a4;
}

.popData .body1 {
  width: 100%;
  line-height: 48px;
  height: 48px;
  font-size: 13px;
  color: #444;
  border-bottom: 1px solid #eee;
  display: inline-table;
}

.popData th {
  font-weight: normal;
  text-align: center;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  line-height: 48px;
  height: 48px;
}

.popData th:last-child {
  border-right: 0;
}

.popData .head2 th:last-child {
  border-right: 1px solid #eee;
}

.popData .body1 td {
  font-weight: bold;
  border-right: 1px solid #eee;
  box-sizing: border-box;
}

/*"查看"*/

.popData .body1 td:last-child {
  border-right: 0;
}

.popData .body1 td.time1 {
  font-weight: normal;
  color: #000;
}

.popData .body1 td.check1 {
  font-weight: normal;
  font-size: 12px;
}

.popData .head1 {
  width: 100%;
}

.popData .head2 {
  line-height: 24px;
  height: 24px;
}

.popData .head2 th {
  line-height: 24px;
  height: 24px;
}

/*第一张表--头*/

.popData .dataTable .time {
  width: 20%;
}

.popData .dataTable .kl_grade {
  width: 14%;
}

.popData .dataTable .specialist,
.popData .dataTable .school {
  width: 18%;
  line-height: 24px;
  height: 24px;
  border-bottom: 1px solid #eee;
}

.popData .dataTable .hz_number {
  width: 14%;
}

.popData .dataTable .check {
  width: 16%;
}

/*第一张表--身*/

.popData .dataTable .time1 {
  width: 20%;
}

.popData .dataTable .kl_grade1 {
  width: 14%;
}

.popData .dataTable .grade1,
.popData .dataTable .number1,
.popData .dataTable .grade2,
.popData .dataTable .number2 {
  width: 9%;
}

.popData .dataTable .hz_number1 {
  width: 14%;
}

.popData .dataTable .check1 {
  width: 16%;
}

/*第三张表--头*/

.popData.popCreate1 .dataTable .time {
  width: 14%;
}

.popData.popCreate1 .dataTable .name {
  width: 22%;
}

.popData.popCreate1 .dataTable .kl_grade,
.popData.popCreate1 .dataTable .hz_number,
.popData.popCreate1 .dataTable .check {
  width: 12%;
}

.popData.popCreate1 .dataTable .specialist,
.popData.popCreate1 .dataTable .school {
  width: 14%;
  line-height: 24px;
  height: 24px;
  border-bottom: 1px solid #eee;
}

/*第三张表--身*/

.popData.popCreate1 .dataTable .time1 {
  width: 14%;
}

.popData.popCreate1 .dataTable .name1 {
  width: 22%;
}

.popData.popCreate1 .dataTable .kl_grade1,
.popData.popCreate1 .dataTable .hz_number1,
.popData.popCreate1 .dataTable .check1 {
  width: 12%;
}

.popData.popCreate1 .dataTable .grade1,
.popData.popCreate1 .dataTable .number1,
.popData.popCreate1 .dataTable .grade2,
.popData.popCreate1 .dataTable .number2 {
  width: 7%;
}

.popData.popCreate1 .body1 td.name1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

.popData .tablesortUl li {
  display: inline-block;
  margin: 0 10px 20px 15px;
  cursor: pointer;
}

.popData .tablesortUl li.active {
  color: #318ff8;
}

/*第二张表--头*/

.popData.popCreate2 .dataTable .time {
  width: 14%;
}

.popData.popCreate2 .dataTable .name {
  width: 22%;
}

.popData.popCreate2 .dataTable .kl_grade,
.popData.popCreate2 .dataTable .my_grade,
.popData.popCreate2 .dataTable .hz_number,
.popData.popCreate2 .dataTable .check {
  width: 11%;
}

.popData.popCreate2 .dataTable .specialist,
.popData.popCreate2 .dataTable .school {
  width: 12%;
  line-height: 24px;
  height: 24px;
  border-bottom: 1px solid #eee;
}

/*第二张表--身*/

.popData.popCreate2 .dataTable .time1 {
  width: 14%;
}

.popData.popCreate2 .dataTable .name1 {
  width: 22%;
}

.popData.popCreate2 .dataTable .kl_grade1,
.popData.popCreate2 .dataTable .my_grade1,
.popData.popCreate2 .dataTable .hz_number1,
.popData.popCreate2 .dataTable .check1 {
  width: 11%;
}

.popData.popCreate2 .dataTable .grade1,
.popData.popCreate2 .dataTable .number1,
.popData.popCreate2 .dataTable .grade2,
.popData.popCreate2 .dataTable .number2 {
  width: 6%;
}

.popData.popCreate2 .body1 td.name1 {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
}

/*教研组*/

.jy_group .ulOne {
  width: 100%;
}

.jy_group .ulOne .liOne {
  position: relative;
  width: 48.5%;
  border-radius: 4px;
  background-color: #1b80f1;
  background-image: -moz-linear-gradient( 45deg, rgb(97, 162, 251) 0%, rgb(111, 121, 251) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(97, 162, 251) 0%, rgb(111, 121, 251) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(97, 162, 251) 0%, rgb(111, 121, 251) 100%);
  box-shadow: 0px 5px 15px 0px rgba(10, 61, 191, 0.3);
  padding: 50px 0 20px;
  box-sizing: border-box;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}

.jy_group .ulOne li.liOne:first-child {
  margin-right: 3%;
}

.jy_group .ulOne .label1 {
  position: absolute;
  left: -3px;
  top: 7px;
  line-height: 22px;
  padding: 0 10px;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
  background-image: -moz-linear-gradient( 45deg, rgb(236, 148, 89) 0%, rgb(248, 103, 175) 100%);
  background-image: -webkit-linear-gradient( 45deg, rgb(236, 148, 89) 0%, rgb(248, 103, 175) 100%);
  background-image: -ms-linear-gradient( 45deg, rgb(236, 148, 89) 0%, rgb(248, 103, 175) 100%);
  background-image: url("../img/label1.png");
  /*background-size: 100% 100%;*/
}

.jy_group .ulOne .ulTwo {
  width: 94%;
  margin: 0 3%;
}

.jy_group .ulOne .liTwo {
  width: 25%;
  text-shadow: 0 1px 0 rgb(62, 120, 231);
  position: relative;
}

.jy_group .ulOne .liTwo strong {
  font-size: 24px;
}

.jy_group .content2 .title1 .line {
  width: 52%;
}

.jy_group .chartsContent1 {
  width: 50%;
  position: relative;
}

.jy_group .chartsContent1 .chartsWidth2 {
  width: 100%;
}

.jy_group .chartsContent1 .checkData {
  position: absolute;
  right: 10px;
  top: 28px;
  z-index: 2;
}

.jy_group .chartsContent1 .checkData i {
  margin-right: 5px;
  color: #bbb;
}

.jy_group .chartsContent1 .checkData:hover,
.jy_group .chartsContent1 .checkData:hover i {
  color: #1b80f1;
}

.jy_group .ulOne .liTwo .explain {
  /*position: relative;*/
}

.jy_group .ulOne .liTwo .icon-explain {
  cursor: pointer;
}

.jy_group .ulOne .liTwo .explain .tip1 {
  display: none;
}

.jy_group .ulOne .liTwo .explain .triangle {
  position: absolute;
  top: 78px;
  right: 7px;
  width: 0;
  height: 0;
  border-right: 6px solid transparent;
  border-bottom: 7px solid rgb(255, 255, 255);
  border-left: 7px solid transparent;
}

.jy_group .ulOne .liTwo .explain .tip2 {
  position: absolute;
  top: 85px;
  right: -8px;
  width: 203px;
  background-color: white;
  text-shadow: none;
  color: #333333;
  font-size: 12px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
  border-radius: 2px;
  line-height: 30px;
}

.jy_group .ulOne .liTwo .explain:hover .icon-explain {
  opacity: 0.8;
}

.jy_group .ulOne .liTwo .explain:hover .tip1 {
  display: block;
}

.jy_group .popData.popCreate2 {
  width: 440px;
  height: 475px;
  top: 300px;
  left: 300px;
}

.jy_group .popData .tbody {
  height: 365px;
}

.jy_group .popData.popCreate2 .teacher,
.jy_group .popData.popCreate2 .teacher1 {
  width: 80px;
}

.jy_group .popData.popCreateSame .teacher1 {
  font-size: 13px;
  color: #000;
}

.jy_group .popData.popCreate2 .number,
.jy_group .popData.popCreate2 .number1 {
  width: 60px;
}

.jy_group .popData.popCreateSame .number1 {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.jy_group .popData.popCreate2 .kl_name,
.jy_group .popData.popCreate2 .kl_name1 {
  width: 300px;
}

.jy_group .popData.popCreateSame .kl_name1 {
  font-size: 12px;
  color: #000;
  line-height: 26px;
}

.jy_group .popData.popCreateSame tr {
  border-bottom: 1px solid #eee;
}

.jy_group .popData.popCreateSame td {
  border-right: 1px solid #eee;
}

.jy_group .popData.popCreateSame td:last-child {
  border-right: 0;
}

.jy_group .popData.popCreateSame .title1 {
  float: left;
  margin-left: 17px;
}

.jy_group .popData.popCreateSame .tablesortUl li {
  margin: 23px 0 0 90px;
}

.jy_group .popData.popCreate3 {
  width: 490px;
  height: 475px;
  top: 300px;
  left: 300px;
}

.jy_group .popData.popCreate3 .teacher,
.jy_group .popData.popCreate3 .teacher1 {
  width: 80px;
}

.jy_group .popData.popCreate3 .number,
.jy_group .popData.popCreate3 .number1 {
  width: 60px;
}

.jy_group .popData.popCreate3 .kl_name,
.jy_group .popData.popCreate3 .kl_name1 {
  width: 300px;
}

.jy_group .popData.popCreate4 .grade,
.jy_group .popData.popCreate3 .grade1 {
  width: 43px;
}

.jy_group .popData.popCreateSame .grade1 {
  font-size: 14px;
  font-weight: bold;
  color: #444;
}

.jy_group .popData.popCreate4 {
  width: 440px;
  height: 475px;
  top: 300px;
  left: 300px;
}

.jy_group .popData.popCreate4 .teacher,
.jy_group .popData.popCreate4 .teacher1 {
  width: 80px;
}

.jy_group .popData.popCreate4 .number,
.jy_group .popData.popCreate4 .number1 {
  width: 60px;
}

.jy_group .popData.popCreate4 .kl_name,
.jy_group .popData.popCreate4 .kl_name1 {
  width: 300px;
}

.createCourse .chartsWidth2#chartsLine {
  height: 520px;
  width: 531px;
}

.jy_group.administrator .content2 .title1 .line {
  width: 50%;
}

/*弹窗兼容不同分辨率*/

@media screen and (max-width: 1200px) {
  /*1024px*/
  .popData.popCreate1 {
    top: 110px;
    left: 170px;
  }
  .popData.popCreate2 {
    top: 110px;
    left: 170px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 270px;
  }
  .jy_group .popData.popCreate2 {
    top: 100px;
    left: 300px;
  }
  .jy_group .popData.popCreate3 {
    top: 100px;
    left: 300px;
  }
  .jy_group .popData.popCreate4 {
    top: 100px;
    left: 300px;
  }
}

@media screen and (min-width:1200px) and (max-width: 1300px) {
  /*1280px*/
  .popData.popCreate1 {
    top: 100px;
    left: 300px;
  }
  .popData.popCreate2 {
    top: 100px;
    left: 300px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 400px;
  }
  .jy_group .popData.popCreate2 {
    top: 110px;
    left: 430px;
  }
  .jy_group .popData.popCreate3 {
    top: 110px;
    left: 430px;
  }
  .jy_group .popData.popCreate4 {
    top: 110px;
    left: 430px;
  }
}

@media screen and (min-width:1300px) and (max-width: 1400px) {
  /*1366px*/
  .popData.popCreate1 {
    top: 100px;
    left: 350px;
  }
  .popData.popCreate2 {
    top: 100px;
    left: 300px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 400px;
  }
  .jy_group .popData.popCreate2 {
    top: 110px;
    left: 470px;
  }
  .jy_group .popData.popCreate3 {
    top: 110px;
    left: 460px;
  }
  .jy_group .popData.popCreate4 {
    top: 110px;
    left: 485px;
  }
}

@media screen and (min-width:1400px) and (max-width: 1500px) {
  /*1440px*/
  .popData.popCreate1 {
    top: 120px;
    left: 385px;
  }
  .popData.popCreate2 {
    top: 130px;
    left: 360px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 475px;
  }
  .jy_group .popData.popCreate2 {
    top: 130px;
    left: 526px;
  }
  .jy_group .popData.popCreate3 {
    top: 130px;
    left: 500px;
  }
  .jy_group .popData.popCreate4 {
    top: 130px;
    left: 525px;
  }
}

@media screen and (min-width:1500px) and (max-width: 1650px) {
  /*1600px*/
  .popData.popCreate1 {
    top: 120px;
    left: 465px;
  }
  .popData.popCreate2 {
    top: 130px;
    left: 445px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 565px;
  }
  .jy_group .popData.popCreate2 {
    top: 130px;
    left: 605px;
  }
  .jy_group .popData.popCreate3 {
    top: 130px;
    left: 580px;
  }
  .jy_group .popData.popCreate4 {
    top: 130px;
    left: 605px;
  }
}

@media screen and (min-width:1650px) and (max-width: 1800px) {
  /*1680px*/
  .popData.popCreate1 {
    top: 120px;
    left: 505px;
  }
  .popData.popCreate2 {
    top: 130px;
    left: 480px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 565px;
  }
  .jy_group .popData.popCreate2 {
    top: 130px;
    left: 635px;
  }
  .jy_group .popData.popCreate3 {
    top: 130px;
    left: 610px;
  }
  .jy_group .popData.popCreate4 {
    top: 130px;
    left: 635px;
  }
}

@media screen and (min-width:1800px) {
  /*1920px*/
  .popData.popCreate1 {
    top: 120px;
    left: 620px;
  }
  .popData.popCreate2 {
    top: 130px;
    left: 595px;
  }
  .popData.popCreate3 {
    top: 250px;
    left: 700px;
  }
  .jy_group .popData.popCreate2 {
    top: 130px;
    left: 745px;
  }
  .jy_group .popData.popCreate3 {
    top: 130px;
    left: 720px;
  }
  .jy_group .popData.popCreate4 {
    top: 130px;
    left: 745px;
  }
}