@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hqrb3i');
  src:  url('fonts/icomoon.eot?hqrb3i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hqrb3i') format('truetype'),
    url('fonts/icomoon.woff?hqrb3i') format('woff'),
    url('fonts/icomoon.svg?hqrb3i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e903";
  color: #999;
}
.icon-check:before {
  content: "\e900";
}
.icon-arrow:before {
  content: "\e901";
}
.icon-explain:before {
  content: "\e902";
}
